<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idealist.www.myapplication2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loadingclass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register" />
        <activity android:name=".login" />
        <activity android:name=".lucidmain" />
        <activity android:name=".registerfinish" />
        <activity android:name=".privateinformation" />
        <activity android:name=".profileinfo" />
        <activity android:name="dream_diary.dream_diary" />
        <activity android:name=".dream_alarm" />
        <activity android:name=".dream_post.dream_post" />
        <activity android:name=".dream_post.dream_post_post" />
        <activity android:name=".dream_post.dream_post_change" />
        <activity android:name=".dream_post.dream_post_comment.dream_post_comment" />
        <activity android:name=".friend_info" />
        <activity android:name=".dream_chatroom.dream_chatting" />
        <activity android:name=".MainActivity" />
        <activity android:name="dream_diary.dream_diary_post"></activity>
    </application>

</manifest>